body {
    margin: 0;
}
.menu.stripe {
    background-color: rgb(48, 48, 48);
    height: 44px;
    text-align: center;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: white;
    font-weight: 200;
    font-size: 14px;
    position: fixed;
    width: 100%;
}
.hamburger {
    display: none;
    padding: 0px;
    float: left;
    position: absolute;
    top: 6px;
    left: 16px;
}
.hamburger ul{
    padding-left: 0px;
}
.hamburger li {
    width: 17px;
    height: 1px;
    background-color: white;
    margin-bottom: 6px;
    list-style: none;
}
.menu-entry.text {
    vertical-align: middle;
    display: inline-block;
    margin: 38px;
    margin-top: 4px;
}
.menu-entry.text a {
    text-decoration: none;
    color: white;
}
.menu-entry.icon {
    margin: 38px;
    vertical-align: middle;
}
.menu-entry.image {
    margin: 38px;
    vertical-align: middle;
}
.iphonexr_campaign.stripe {
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    text-align: center;
    display: block;
    background-color: rgb(250, 250, 250);
    padding-top: 61px;
    padding-bottom: 52.7px;
}
.iphonexr_campaign.stripe a {
    text-decoration: none;
    color: rgb(37, 111, 174);
    font-size: 20px;
    font-weight: 300;
}
.iphonexrh1 {
    font-size: 28px;
    font-weight: 450;
    letter-spacing: .007em;
    margin-bottom: 0px;
}
.iphonexrh3 {
    font-weight: 350;
    font-size: 20px;
    line-height: 1.42115;
    margin-top: 5px;
}
.smallcaps {
    font-variant-caps: all-small-caps;
}